*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Gaegu', cursive;
}
body{
    background-color: black;
}
#main{
    width: 648px;
    margin: 0 auto;
    padding-top: 100px;
    margin-bottom: 49px;
}
#main img{
    animation: rrr infinite 3s alternate;
}
@keyframes rrr{
    0%{
        transform:rotate(-10deg);
    }
    /* 50%{
        transform:rotate(0deg);
    } */
    100%{
        transform:rotate(5deg);
    }
}
#footer{
    position: fixed;
    z-index: 1000;
}
#footer ul li{
    float: left;
    margin-left: 160px;
}
#footer ul li ul{
    margin-left: -250px;
    margin-top: -180px;
    display: none;
}
#footer ul li ul li{
    position: relative;
}
#footer ul li ul li p{
    position: absolute;
    top: 28px;
    left: 30px;
    font-size: 20px;
    font-family: 'Gaegu', cursive;
    font-weight: bold;
}
#footer #skill{
    left: 35px;
}
#footer #pf{
    left: 20px;
}
#footer #ct{
    left: 22px;
}
#footer>ul>li:hover ul{
    display: block;
    transition: linear;
}
#footer .ani{
    transform: rotate(0);
    transition: all 0.5s linear;
    
}
#footer .ani1{
    transform: rotate(0);
    transition: all 0.5s linear;
    
}
#footer>ul>li:hover .ani{
    transform: rotate(15deg);
}
#footer>ul>li:hover .ani1{
    transform: rotate(-15deg);
}

/* =====================section1 end=================== */

#section2 #skill{
    height: 300px;
    padding-top: 200px;
}
#section2 #skill ul li{
    width: 200px;
    margin-left: 130px;
    float: left;
}
#section2 #skill ul li img{
    margin-left: 20px;
}
#section2 #skill ul li p{
    width: 200px;
    font-size: 20px;
    text-align: center;
    color: white;
}
#section2 #skill ul li p{
    margin-top: 20px;
    display: none;
}
#section2 #skill ul li:hover p{
    display: block;
}
#section2 #footer{
    padding-top: 142px;
}

/* =====================section2 end=================== */
#section3 #menu>ul{    
    padding-top: 22px;
    margin: 0 auto;
    width: 1200px;
    height: 620px;
}
#section3 #menu ul li{
    margin-top: 30px;
    margin-left: 150px;
    float: left;
    height: 238px;
}
#section3 #menu ul li a{
    color: white;
    list-style: none;
    text-decoration: none;
}
#section3 #menu ul li ul{
    display: none;
}
#section3 #menu ul li ul li{
    position: relative;
}
#section3 #menu ul li ul li p{
    font-family: 'Gaegu', cursive;
    position: absolute;
    top: -145px;
    left: -90px;
    font-size: 35px;
    font-weight: bold;
}
#section3 #menu>ul>li:hover ul{
    display: block;
    transition: linear;
}

#section3 #menu ul li ul li img{
    position: absolute;
    top: -250px;
    left: -158px;

}
#section3>#menu>ul>li ul li .text1{
    font-size: 30px;
    top: -130px;
}
#section3 #menu ul li dd{
    color: white;
}
/* =========================================================================================== */
/* dl dt{
	margin:20px 50px;
	font-size:large;
	border:1px solid #7BAEB5;
	border-left:1em solid #7BAEB5;
	padding-left:10px;
	width:600px;
	cursor:pointer;
} */
div#glayLayer{
	display:none;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:black;
	filter:alpha(opacity=75);
    opacity: 0.75;
    
}
* html div#glayLayer{
	position:absolute;
}
#overLayer{
	display:none;
    width:600px;
    height: 500px;
	background:white;
	padding:10px;
	position: fixed;
	top:30%;
    left:50%;
}
#overLayer img.close{
    width: 30px;
    height: 30px;
	position:absolute;
	top:-10px;
	right:-10px;
	cursor:pointer;
}
* html #overLayer{
	position: absolute;
}
#overLayer h1{
    font-size: 50px;
}
#overLayer #imgbox{
    float: left;
}
#overLayer h2{
    width: 100px;
    background-color: black;
    color: white;
    font-size: 25px;
    text-align: center;
}
#overLayer p{
    padding: 15px 0;
    width: 250px;

}
#overLayer #ddd{
    margin-left: 10px;
    width: 280px;
    float: left;
}
#overLayer a{
    margin-top: 50px;
    float: left;
    border-radius: 5px 5px 5px;
    padding: 5px 30px;
    margin-left: 20px;
    background-color: #ccc;
    border: 1px solid #9999;
    text-align: center;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

/* =========================================================================================== */


/* =====================section3 end=================== */
#section4 #canvas{
    width: 380px;
    height: 500px;
    float: left;
    overflow: hidden;
    margin-top: 50px;
}
#section4 #lsk{
    width: 760px;
}
#section4 #lsk .slider_img{
    float: left;
    width: 380px;
    height: 500px;    
}
#section4 #prev{
    /* border: 1px solid red; */
    margin-top: 50px;
    margin-left: 170px;
    width: 50px;
    height: 500px;
    background-color: black;
    line-height: 500px;
    float: left;
}
#section4 #next{
    margin-top: 50px;
    width: 50px;
    height: 500px;
    background-color: black;
    line-height: 500px;
    float: left;
    /* border: 1px solid red; */
}
#section4 #button{
    width: 400px;
    margin-left: 210px;
}
#section4 #button a{
    font-size: 25px;
    text-decoration: none;
    margin-left: 50px;
    color: white;
    font-weight: bold;
}
#section4{
    position: relative;
}
#section4 #last_text{
    width: 400px;
    height: 350px;
    background-color: #FEE500;
    border: 10px solid #FCB514;
    border-radius: 100px 0 100px 0 ;
    position: absolute;
    top: 150px;
    left: 700px;
}
#section4 #last_text h1{
    margin: 20px 50px;
    font-size: 40px;
}
#section4 .textbox{
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}
#section4 .textbox>li{
    padding: 2px;
    font-size: 20px;
}
#section4 .input_box{
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}
#section4 .input_box>li{
    font-size: 20px;
    padding: 2px;
}
#section4 .input_box li:nth-child(2) input{
    width: 50px;
}
#section4 .input_box li textarea{
    width: 200px;
}
#section4 #lastimg_1{
    position: absolute;
    top: 40px;
    left: 58%;
}
#section4 #last_text .btn>input{
    float: left;
    margin-left: 320px;
    padding: 5px 10px;
}
/* =====================section4 end=================== */
.box{
    height: 100vh;
}