
/*μ¤λ§νΈν° CSS*/
@media all and (max-width:500px) {
    #section1{
        height: 350px;
    }
    #main{
        padding-top: 0px;
    }
    #main img{
        width: 450px;
        margin-left: 15px;
        margin-top: 20px;
        position: absolute;
        top: 0;
    }
#footer {
display: none;
}
/* ===========section2 =====================*/
#section2 {
    height: 450px;
}
#section2 #skill{
    height: 450px;
    padding-top: 0px;
    width: 430px;
    margin-left: 20px;
    padding-left: 20px;
}

#section2 #skill ul li{
    margin: 0 auto;
    width: 180px;
    height: 150px;
    margin-left: 12px;
    margin-top: 15px;
    float: left;
    overflow: hidden;
    position: relative;
}
#section2 #skill ul li img{
    width: 150px;
    height: 150px;
    margin-left: 10px;
}
#section2 #skill ul li p{
    display: block;
    width: 160px;
    height: 150px;
    font-size: 15px;
    color: white;
    background-color: rgb(0, 0, 0, 0.7);
    margin-top: 5px;
    float: left;
    position: absolute;
    padding-top: 30px;
    top: 160px;
    left: 0;
    transition: all 0.5s;
}
#section2 #skill ul li:hover p{
    top: 0;
}
#section2 #footer{
    padding-top: 142px;
}
/* ===========section3 =====================*/
#section3 #menu{
    width: 450px;
    margin: 0 auto;
}
#section3 #menu>ul{    
    padding-top: 22px;
    margin: 0 auto;
    width: 450px;
    height: 500px;
}
#section3 #menu ul li a>img{
    width: 150px;
    height: 150px;
}
#section3 #menu ul li{
    margin-left: 0;
    float: left;
    height: 200px;
}
#section3 #menu ul li a{
    color: white;
    list-style: none;
    text-decoration: none;
}
#section3 #menu ul li ul{
    display: none;
}
#section3 #menu ul li ul li{
    position: relative;
}
#section3 #menu ul li ul li p{
    font-family: 'Gaegu', cursive;
    position: absolute;
    top: -115px;
    left: 50px;
    font-size: 25px;
}
#section3 #menu>ul>li:hover ul{
    display: block;
    transition: linear;
}
#section3 #menu ul li ul li img{
    width: 160px;
    height: 160px;
    position: absolute;
    top: -195px;
    left: -2px;
}
#section3>#menu>ul>li ul li .text1{
    width: 80px;
    font-size: 25px;
    top: -100px;
}
#section3 #footer{
    margin-top: 81px;
}

/* ===========section4 =====================*/
#section4{
    position: relative;
}
#section4 #video{
    width: 450px;
    height: 770px;
}
#section4 #last_text{
    width: 400px;
    height: 400px;
    background-color: #FEE500;
    border: 10px solid #FCB514;
    border-radius: 100px 0 100px 0 ;
    position: absolute;
    top: 120px;
    left: 30px;
}
#section4 #lastimg_1{
    position: absolute;
    top: 10px;
    left: 40%;
}
#section4 .img1{
    width: 70px;
    height: 70px;
}
#section4 #last_text h1{
    margin-top: 10px;
    margin-left: 50px;
    font-size: 40px;
}
#section4 .textbox{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
#section4 .textbox>li{
    padding: 12px;
    font-size: 15px;
}
#section4 .input_box{
    margin-top: 0;
    margin-left: 10px;
    float: left;
}
#section4 .input_box li:nth-child(2) input{
    width: 50px;
}
#section4 .input_box li textarea{
    width: 200px;
}
#section4 #footer{
    position: absolute;
    top: 642px;
}
#section4 #last_text .btn>input{
    float: left;
    margin-left: 320px;
    padding: 5px 10px;
}
#section4 #footer{
    margin-top: -39px;
}
}